button, label, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: #d8dee9;
}

button {
    padding: 5px;
    margin: 5px;
    font-family: Sarasa Fixed J;
    font-size: 13pt
}

button:hover {
    background-color: rgba (255, 255, 255, 0.1);
}

button:focus {
    box-shadow: 0 0 2px;
}

#searchbox {
    background: none;
    border-color: #d8dee9;
    color: #d8dee9;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 400px;
    font-family: Sarasa Fixed J;
    font-size: 13pt
}

#separator {
    background-color: rgba(200, 200, 200, 0.5);
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: 10px
}

#description {
    margin-bottom: 20px;
    font-family: Sarasa Fixed J;
    font-size: 13pt
}
