#bar {
    margin: 30px; /* affects top/bottom & left/right alignment */
    font-family: Sarasa Fixed J;
    font-size: 16pt
}

button, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: #d8dee9
}

button {
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px
}

button:hover {
    background-color: rgba (255, 255, 255, 0.1)
}

button:focus {
    box-shadow: 0 0 2px;
}
